

mat-card-header {
    color: aliceblue;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header-left {
    margin-left: 16px;
}

.left img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

  /* Estilo para os elementos à direita */
  .header-right {
    display: flex;
    align-items: center;
  }
  
  /* Espaçamento entre os elementos à direita */
  .header-right > *:not(:last-child) {
    margin-right: 16px;
  }


  .card-content {
    color: aliceblue;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem a linha quando necessário */
  }

 
  
  .title {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .text {
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .comece-ja-btn {
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 200px;
  }
  
  .text-container {
    margin-top: 30px;
    flex: 1; /* Ocupar todo o espaço disponível */
  }
  
  .image-container {
    flex: 1; /* Ocupar todo o espaço disponível */
    display: flex;
    justify-content: flex-end; /* Alinhar a imagem à direita */
  }
  
  .image-container img {
    max-width: 100%; /* Garantir que a imagem não ultrapasse a largura do container */
    max-height: 100%; /* Garantir que a imagem não ultrapasse a altura do container */
  }
  