<mat-card-content class="card-content">
    <div [@fadeInOut] *ngIf="showText" class="text-container">
      <h1 class="title">Sobre Nós</h1>
      <p class="text">Acreditamos no poder da educação e da tecnologia para transformar as pessoas e suas carreiras.<br><br>Sabemos que o trabalho em Tech mudou. As profissões se tornaram mais líquidas e as fronteiras entre elas já não estão bem definidas.<br><br>Portanto, para realmente entregar resultados é necessário aprofundar e mergulhar de cabeça nas principais áreas do front-end. Nossos cursos buscam preparar você para se tornar um profissional em T completo.</p>

    </div>
    <div [@fadeInOut] *ngIf="showText" class="image-container">
        <img src="/assets/imgs/img2.png" alt="Imagem" width="400px" height="400px" />
    </div>
    

</mat-card-content>
