<mat-card-content class="card-content">
    <div class="image-container">
        <img src="/assets/imgs/angular.png" alt="Imagem" width="200px" />
    </div>
    <div class="text-container">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris.
            Adipiscing vitae proin sagittis nisl rhoncus.</p>
        
    </div>
    

</mat-card-content>

    

